.git
.github
.gitignore
.dockerignore
Dockerfile
docker-compose.yml
docs/
tests/
project_venv/
.venv/
venv/
__pycache__/
**/__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
.env
*.tar.gz
models/
.serverless/
.zappa/
.DS_Store
README.md
LICENSE
